body{
    width: 100%;
  
    overflow-x: hidden;
}

.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 5s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }
  .status {
color: white;
text-align: center;
background-color: #232323;
padding: 20px;
border-radius: 10px;
margin-top: 10px;
  }


  
  
.head {
background-color: #252525;
padding: 10px;
border-radius:  10px;
}

.head:hover {
background-color: black;
}
body {
background-color: black;
color: white;
font-family: 'Alatsi';
}
* {
  box-sizing: border-box;
}

#myInput {
  background-color: #252525;
  color: white;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #252525;
  margin-bottom: 12px;
  border-radius: 10px;
}

#myUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#myUL li a {
  border: 1px solid #252525;
  margin-top: -1px; /* Prevent double borders */
  background-color: #252525;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: black;
}
a {
 color: white;
 margin-bottom: 10px;
 border-radius: 10px;
}
small {
font-size: 13px;
padding: 10px;
}
  .subhead {
   background-color: black;
   border-radius:10px;
   border-bottom: solid 1px white;
   padding:10px;
  }
  .subhead:hover {
  color:black;
   background-color: white;
   padding: 10px;
  }
  
  .Review{
      color: white;
   background-color: #ff0000;
   font-family: 'Alatsi';
   padding: 8px;
   text-decoration: none;
   font-size: 12px;
  }
  .Review:hover{
    color: #ff0000;
   background-color:white ;
   padding: 10px;
  }

.Suggestion{
      color: white;
   background-color: #b80081;
   font-family: 'Alatsi';
   padding: 8px;
   text-decoration: none;
   font-size: 12px;
  }

.Suggestion:hover{
    color: #b80081;
   background-color:white ;
   padding: 10px;
  }

.Report{
      color: white;
   background-color: #0000ff;
   font-family: 'Alatsi';
   padding: 8px;
   text-decoration: none;
   font-size: 12px;
  }

.Report:hover{
    color: #0000ff;
   background-color:white ;
   padding: 10px;
  }


